#snake {
    border-radius: 50px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
}

#box {
    position: absolute;
    top: 20px;
    left: 350px;
    width: 600px;
    height: 600px;
    background-color: black;
}