body {
  background-color: #323232;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#legit {
  font-size: 200px;
  text-align: center;
}
#box {
  position: absolute;
  top: 85px;
  left: 350px;
  width: 600px;
  height: 600px;
  background: linear-gradient(to right, #46237a, #8a4fff);
  border: #fff solid;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#snake {
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 255, 255);
}

/* Header Styles */
.cool-header {
  background: linear-gradient(to right, #46237a, #8a4fff);
  color: #fff;
  padding: 10px 20px; /* Adjust the padding here */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.cool-header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  font-family: "Arial", sans-serif;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;

}

.cool-header a:hover {
  color: #ffca63;
}

.cool-header .logo-text {
  font-size: 32px;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: text-shadow 0.3s ease;
}

.cool-header .logo-icon {
  font-size: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.cool-header:hover .logo-icon {
  transform: rotate(360deg);
  animation: flapping 1s infinite alternate;
}

.cool-header .categories {
  margin-left: auto;
  font-family: "Times New Roman", serif;
  display: flex;
  align-items: center;
}

.cool-header .category {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.cool-header .category .category-text {
  margin-left: 5px;
  transition: color 0.3s ease;
}

.cool-header .category:hover .category-text {
  color: #ffca63;
}

.cool-header:hover .logo-text {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

@keyframes flapping {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
#home,
#project,
#contact,
#about {
  margin-bottom: 5px;
  margin-right: 5px;
}