#snake {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}

body .test {

    top: 500px;
}